.contact-section {
  background: #111;
  color: white;
  padding: 3rem 1rem;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-section p {
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
  color: #ccc;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact-info a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /*  */
  padding: /* 0.5rem  */1rem;
  border-radius: 5px;
  width: 350px;
  /* fuente */
  font-family: 'DejaVu Sans', Arial, sans-serif;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: 1000; /* más gruesa/ancha */
  font-stretch: expanded; /* también: semi-expanded, extra-expanded, 200% */
}

.contact-info a:hover {
  color: #00bcd4;
}

.contact-info i {
  font-size: 1.3rem;
}

.icon {
  width: 20px;
  height: 18px;
  color: #fff;
}